html * {
  font-family: Helvetica !important;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin-top: 0px; 
}
.container {
  background-color: #000639;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  display: flex;
  flex-direction: column;
}
.test {
  height: 250px;
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 2rem;
  border-color: #7AB55C;
  float: left;
}
#email, #select {
  border-radius: 5px;
  border: solid 1px;
  height: 36px;
  width: 200px;
  padding-left: 10px;
}
#select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  overflow: hidden;
  width: 240px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
.ladda-button {
  border-radius: 5px;
  border: #000639 solid 1px;
  background-color: #5c6ac4;
  padding: 0px;
  height: 40px;
  width: 100%;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.motto {
  font: 24px bold;
  color: #FFF;
  text-align: left;
  margin-bottom: 10px;
}
#thx {
  font: 16px bold;
  color: #FFF;
  margin-bottom: 10px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.conditions {
  font: 16px;
  color: #FFF;
  text-align: left;
  margin-top: 10px;
}
.endtext {
  font: 16px;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}
.error {
  margin: 5px 0px 0px;
  color: #C23628;
  font-size: 16px;
  display: none;
}

/* Responsive */
@media (max-width: 980px) {
  .test {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .motto, hr {
    width: 100%;
    text-align: center;
  }
  #email,
  #select {
    width: 100%;
  }
  #email {
    margin-bottom: 5px;
  }
};